# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# osx
.DS_Store

etc/bin/*
!etc/bin/.gitkeep
ref/*
!ref/.gitkeep
tmp/*
!tmp/.gitkeep
bin/*
!bin/.gitkeep

test/bin/*
!test/bin/.gitkeep
